---
import { Image } from "astro:assets";

import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";

// Define props for the component
interface Props {
  name: string;
  specialty: string;
  description: string;
  image?: ImageMetadata;
}

const { name, specialty, description, image } = Astro.props;

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<div class="swiper-slide pb-4">
  <div class="mx-auto max-w-[300px]">
    <div class="mx-auto mb-3 aspect-[7/8] overflow-hidden rounded-xl shadow-md">
      {
        image ? (
          <Image
            src={image}
            alt={`Portrait of ${name}`}
            width={260}
            densities={[1.5, 2]}
            class="h-full w-full object-cover"
          />
        ) : (
          <div class="bg-base-200 h-full w-full" />
        )
      }
    </div>

    <div class="mx-auto mt-2 px-1">
      <span class="text-primary-accent mb-1 block text-lg font-semibold">{name}</span>
      <p class="text-sm">
        <span class="font-semibold">{specialty}</span> - {description}
      </p>
    </div>
  </div>
</div>
