---
import { Image } from "astro:assets";

import type { TestimonialItem } from "@/config/types/configDataTypes";

interface Props {
  testimonial: TestimonialItem;
  isOffset?: boolean;
}

const { testimonial, isOffset = false, ...rest } = Astro.props;
---

<div class:list={["w-full", isOffset ? "md:translate-y-12" : ""]} {...rest}>
  <div
    class="border-border bg-card hover:bg-muted rounded-xl border p-6 shadow-sm transition-colors"
  >
    <div class="flex flex-wrap items-center">
      <div class="w-auto p-3">
        <div class="relative z-10 h-12 w-12 overflow-hidden rounded-full border">
          <Image
            src={testimonial.avatar}
            alt={`${testimonial.name}'s avatar`}
            class="h-full w-full object-cover"
            width={60}
          />
        </div>
      </div>
      <div class="w-auto p-3">
        <h2 class="text-xl font-medium">{testimonial.name}</h2>
        <p class="text-muted-foreground text-sm">{testimonial.title}</p>
      </div>
    </div>
    <blockquote class="mt-2 mb-4">
      {testimonial.testimonial}
    </blockquote>
  </div>
</div>
